body{
    margin: 0;
    padding: 0;
    color: white ;
}
.container{
    max-width: 1024px;
    margin: 20px auto;
    text-align: center;
}
header{
    height: 500px;
    background-color: black;
    position: relative;
}
.subtitulo img{
    margin: 200px auto;
}
nav{
    position: absolute;
    top: 30px;
    right: 0;
}
nav ul li {
    display: inline;
    margin: 50px;
}
nav ul li a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav h1{
    font-size: 50px;
}