/* quando o arquivo esta com uma bolinha, significa que o arquivo nao foi salvo */
p{
    color: #0f0;
}
*{/* se eu colococar asterisco *, toda pagina fica nessa fonte */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
/* rgb = quanto eu vou ter de cada = 000  */
header, article{
    margin: 10px;
    margin-right: 10px;
}
img{
    float: left;
}
.diferente{
    /* ponto na frente para indicar a classe */
    font-size: italic;
    text-transform: uppercase;
}
nav ul{ 
    /* espaço significa herdeiro, se colocar > é filho */
    background-color:grey;
    list-style: none;
    margin: 0;
    padding:0 ;
    text-align: right;
}
nav ul li{
    display: inline;
    /* ao lado */
}
nav ul li a{
    /* essa estilazação */
    padding: 10px;
    display: inline-block;
    background-color: aqua;
    border-bottom: 3px solid red;
}

nav ul li a:hover{
    /* passar o mouse */
    background-color: blueviolet;
    color: yellow;
    border-bottom: 3px solid royalblue  ;
}
